<h1>Your Dashboard</h1>

{{#if posts.length}}
  <h2>Your Previous Posts</h2>
  <ul>
    {{#each posts}}
      <li><a href="/post/{{this.id}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <p>No previous posts found.</p>
{{/if}}

<a href="/new-post">+ New Post</a>
